<!doctype html>
<html> 
  <head> 
    <title>TTIPABot Web</title> 
    <link rel="stylesheet" href="/static/style.css" /> 
  </head> 
  <body> 
    <audio id="chant"> 
      <source src="/static/sardaukar-chant.mp3" type="audio/mp3"> 
    </audio>

    <audio id="growl">
      <source src="/static/sardaukar-growl.mp3" type="audio/mp3"> 
    </audio> 

    <div class="text" id="Display text" style="opacity:0;"></div>

    <div class="container" id="Button container">
        <button type="button" class="button" onclick="getData()" id="start_button">BEGIN TTIPA INITIATION RITUAL</button>
    </div>
    <script src="/static/chanter.js" charset="utf-8"></script> 
  </body> 
</html>