{% extends "base.html" %}

{% block content %}
  <body> 
    <audio id="chant"> 
      <source src="/static/sardaukar-chant.mp3" type="audio/mp3"> 
    </audio>

    <audio id="growl">
      <source src="/static/sardaukar-growl.mp3" type="audio/mp3"> 
    </audio> 

    <div class="text" id="Display text" style="opacity:0;"></div>

    <div class="container" id="Button container">
        <button type="button" class="button" onclick="getData()" id="start_button">BEGIN RITUAL</button>
    </div>
    <script src="/static/chanter.js?v=1" charset="utf-8"></script> 
  </body> 
{% endblock %}